study_project/Library
study_project/Logs
study_project/UserSettings
study_project/.vsconfig
study_project/Assembly-CSharp.csproj
study_project/study_project.sln
study_project/.plastic
study_project/.vs
study_project/.vscode
study_project/Temp
My project
tteesstt